<!DOCTYPE html>
<html>
  <head>
    <title>upload success.html</title>

    <meta name="keywords" content="keyword1,keyword2,keyword3"></meta>
    <meta name="description" content="this is my page"></meta>
    <meta name="content-type" content="text/html; charset=UTF-8"></meta>

    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>

  <p th:text="'上传成功'">说明</p>

  
  <p><a class="btn btn-primary btn-lg" th:href="@{/list}" role="button">视频列表</a></p>
  <p><a class="btn btn-primary btn-lg" th:href="@{/gouploadagain}" role="button">继续上传</a></p>

  
</html>